
  html {
    font-size:1.0em;
    position: relative;
    min-height: 100%;
    min-width:100%;
  }
  body {
    margin-bottom: 90px; /* Margin bottom by footer height */
    background:url("../images/qbkls.png");
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px; /* Set the fixed height of the footer here */
    background-color: #666;
    border-top:10px solid #4aaaa5;
  }

  footer{
      font-size:.8em;
  }


.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
        color:#4aaaa5;
}




h1{
    background:#4aaaa5;
    font-family:'Georgia', 'Times New Roman', Times, serif, serif;
    font-size:1.35em;
    
}

h2{
    font-family:'Georgia', 'Times New Roman', Times, serif, serif;
    color:#4aaaa5;
    font-size:1.35em;
    
}

#header {
    border-bottom:2px solid #ccc;
    background:#4aaaa5;
}


p{
    line-height:200%;
}


.contentRow{
    border:1px solid #ddd;
}

.headerText{
    background:#4aaaa5;
    padding:25px;
    margin-right:0px;
}

.aboutMe{
    border-bottom: 2px solid #ddd;
}


#aboutPicture{
    width:100%;
    padding-bottom:5px;
}

#navAbout,
#navPortfolio,
#navContact{
    border-top:1px solid #ddd; 
}

.navbar-nav{
    .show > .nav-link,
        .active > .nav-link,
        .nav-link.show,
        .nav-link.active {
            background:#f1f1f1;
            color:#4aaaa5;
        }
    }

    .picRow{
        font-family: 'Georgia', 'Times New Roman', Times, serif, serif;
        color:#fff;
        background:#4aaaa5;
        /* padding:20px; */
        position:relative;
        top: -70px;
        max-width: 400px;
        margin-left:0px;
        margin-right:0px;
        padding-top:15px;
        padding-bottom:15px;
    }

    .picRow h3{
        font-size:1.2em;
        text-align:center;
        margin:0px auto;
    }


    .picRow:hover{
        background:#ddd;
        color:#777;
        text-decoration:none;
    }

#messageBox{
    min-height:200px;
}


#submit{
    background:#4aaaa5;
    color:#fff;
    border:1px solid #ddd;
}

#submit:active,
#submit:focus,
#submit:hover{
    background:#ddd;
    color:#777;
    border:1px solid #ddd;
}



@media (min-width:768px) { 

    #navHeader{
        max-width:1140px;
    }

    .navbar-light .navbar-nav .nav-link:hover{
        color:#4aaaa5;
    }

    #navPortfolio span,
    #navAbout span{
        border-right:1px solid #ddd;
        padding-right:20px;
        }

    }

 }


 @media (min-width:576px) and (max-width: 767.98px) {
    #navHeader{
        max-width:540px;
    }

    #aboutPicture{
        width:100%;       
    }

    

 }



 @media (min-width:768px) and (max-width: 991.98px) {
    #navHeader{
        max-width:718px;
    }


    #aboutPicture{
        float:left;
        width:40%;
        margin-top:5px;
        padding-bottom:0px;   
    }

    #navAbout, #navPortfolio, #navContact{
        background:#fff;
        border:none;
        }
    
        #header {
            background:#fff;
        }

    }

    


 @media (min-width:992px) and (max-width: 1199.98px) {
    #navHeader{
        max-width:958px;
        }

    #aboutPicture{
        width: 25%;
        margin-top:2px;
        }

    #navAbout, #navPortfolio, #navContact{
        border:none;
        }

        #header {
            background:#fff;
        }

    
 }

@media (min-width:1200px){
    #aboutPicture{
        width:24%;
        }

    #navAbout, #navPortfolio, #navContact{
        border:none;
        }

        #header {
            background:#fff;
        }


        .portfolioCol{
            margin-left:-50px;
        }
}



@media (max-width:768px){

    #navAbout, #navPortfolio, #navContact{
        padding-top:20px;
        padding-bottom:20px;
        text-align:center;
        }
    
    #navPortfolio:hover,
    #navAbout:hover,
    #navContact:hover{
        background:#f1f1f1;
        color:#4aaaa5;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        }

    #header {
        padding-left:0;
        padding-right:0;
        }

    .navbar-light .navbar-nav .active>.nav-link, 
    .navbar-light .navbar-nav .nav-link.active, 
    .navbar-light .navbar-nav .nav-link.show, 
    .navbar-light .navbar-nav .show>.nav-link {
        background:#f1f1f1;
    }

    .navbar button{
        margin: 0px 0px 0px 0px;
        }
    .navbar-light .navbar-nav .nav-link{
        background:#fff
        }

        .headerText{
            padding-left:15px;
            padding-right:0px;
        } 


}




@media (max-width:576px){

    .navbar button{
        margin: 0px 15px 0px 0px;
        }
        .navbar-light .navbar-nav .nav-link{
            background:#fff;
        }
  
}
